[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting/
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/plugins/k"]
	path = zsh/plugins/k
	url = https://github.com/supercrabtree/k
[submodule "zsh/plugins/conda-zsh-completion"]
	path = zsh/plugins/conda-zsh-completion
	url = https://github.com/esc/conda-zsh-completion.git
[submodule "misc/dircolors-solarized"]
	path = misc/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "zsh/plugins/fzf-tab-completion"]
	path = zsh/plugins/fzf-tab-completion
	url = https://github.com/lincheney/fzf-tab-completion.git
